* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* body {
   margin: 0;
} */

.wrapper {
   width: 1140px;
   margin: 0 auto;
   outline: 1px solid red;
}

.header {
   background: #222222;
   /* height: 75px; */
   padding: 18px 0 19px;
   color: seashell;
}

.header-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-left {
   display: flex;
   align-items: center;
}

.logo {
   margin-right: 41px;
}

.header-right {
   display: flex;
   margin-left: 400px;
   align-items: center;
}

.header-right-contact {
   margin: 0 33px;
}

.offer {
   background: #F1E4E6;
   height: 765px;
}

.offer-wrap {
   display: flex;
}

.offer-img {
   margin-left: -227px;
}

.offer-right {
   width: 100%;
   display: flex;
   align-items: center;
   /* padding-left: 63px; */
   justify-content: left;
}

.offer-text {
   border-left: 12px solid #F16D7F;
   display: flex;
   flex-direction: column;
   margin-left: 63px;
   padding-left: 16px;
   font-family: 'Lato', sans-serif;
   font-style: normal;
   color: #222222;
}

.offer-text-flex-1 {
   font-weight: 900;
   font-size: 48px;
   line-height: 57px;
}

.offer-text-flex-2 {
   font-weight: 700;
   line-height: 38px;
   font-size: 32px;
}

.offer-span {
   color: #F16D7F;
}

.categories {
   margin-top: 65px;
}

.categories-wrap {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.categories-top {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}

.categories-item {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
}


.categories-text {
   position: absolute;
   display: flex;
   flex-direction: column;
   width: 100%;
}

.categories-item-top-text {
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: center;
   color: #FFFF;
}

.categories-item-bottom-text{
   font-family: 'Lato', sans-serif;
   text-align: center;
   color: #F16D7F;
   font-style: normal;
   letter-spacing: 0em;
   font-size: 24px;
   line-height: 25px;
   }

.categories-bottom {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 96px;
   font-family: 'Lato', sans-serif;
}

.feature-wrap {
   flex-wrap: wrap;
   display: flex;
   justify-content: space-between;
}

.feature-heading {
   width: 100%;
   font-family: 'Lato', sans-serif;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: 36px;
   letter-spacing: 0em;
   text-align: center;
   margin-bottom: 6px;
   color: #222222;
}

.feature-heading-paragraph {
   width: 100%;
   font-family: 'Lato', sans-serif;
   font-style: normal;
   font-weight: 400;
   letter-spacing: 0em;
   text-align: center;
   color: #9F9F9F;
   font-size: 14px;
   line-height: 17px;
}

.feature-text {
   margin-top: 12px;
   margin-bottom: 18px;
}

.feature-item {
   width: 31.5%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-top: 48px;
}

.feature-price {
   color: #F16D7F;
}

.feature-photo {
   width: 100%;
}

.footer {
   background: #222224;
}


