* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Lato', sans-serif;
}

.hidden {
   position: absolute;
   left: -99999px;
   width: 1px;
   height: 1px;
   opacity: 0;
}

.wrapper {
   width: 1140px;
   margin: 0 auto;
   /* outline: 1px solid red; */
}

.header {
   background: #222222;
   padding: 18px 0 19px;
   color: seashell;
}

.header-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-left {
   display: flex;
   align-items: center;
}

.logo {
   text-decoration: none;
   color: transparent;
   margin-right: 41px;
}

.search-button, .header-menu-button {
   background-color:transparent;
   border: none; 
}

.header-right {
   display: flex;
   margin-left: 400px;
   align-items: center;
}

.header-right-contact {
   margin: 0 33px;
}

.header-right-basket, .header-right-contact {
   text-decoration: none;
   color: transparent;
}

.offer {
   background: #F1E4E6;
}

.offer-wrap {
   display: flex;
   align-items: center;
   height: 765px;
   background-image: url(../img/Layer_57-removebg-preview1.png);
   background-repeat: no-repeat;
   background-position-x: -226px;
   background-position-y: bottom;
   justify-content: flex-end;
}

.offer-title {
   font-weight: 900;
   font-size: 48px;
   line-height: 40px;
   color: #222222;
   border-left: 12px solid #F16D7F;
   padding-left: 16px;
   margin-right: 90px;
}

.offer-title-small {
   font-weight: bold;
   font-size: 32px;
   line-height: 38px;
   color: #222222;
}

.offer-title-pink {
   color: #F16D7F;
}

.page-title {
   background-color:#F16D7F;
}

.categories {
   padding-top: 65px;
   padding-bottom: 85px;
}

.categories-wrap {
   display: flex;
   flex-wrap: wrap;
   /* flex-direction: column; */
   justify-content: space-between;
}

.categories-item {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #C4C4C4;
   width: 360px; 
   height: 260px;
   text-align: center;
}

.categories-text {
   position: absolute;
   display: flex;
   flex-direction: column;
   width: 100%;
}

.categories-sale {
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: center;
   color: #FFFF;
}

.categories-name{
   text-align: center;
   color: #F16D7F;
   font-style: normal;
   letter-spacing: 0em;
   font-size: 24px;
   line-height: 25px;
}

.categories-item-woman {
   background-image: url(../img/Group36.jpg);
} 

.categories-item-kids {
   background-image: url(../img/Group38.jpg);
}

.categories-item-men {
   background-image: url(../img/Group37.jpg);
}

.categories-item-acc {
   margin-top: 20px;
   width: 100%;
   height: 180px;
   background-image: url(../img/Group39.jpg);
}

.feature-wrap {
   flex-wrap: wrap;
   display: flex;
   justify-content: space-between;
}

.feature-heading {
   width: 100%;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: 36px;
   letter-spacing: 0em;
   text-align: center;
   margin-bottom: 6px;
   color: #222222;
}

.feature-heading-paragraph {
   width: 100%;
   font-style: normal;
   font-weight: 400;
   letter-spacing: 0em;
   text-align: center;
   color: #9F9F9F;
   font-size: 14px;
   line-height: 17px;
}

.feature-text {
   margin-top: 12px;
   margin-bottom: 18px;
}

.feature-content {
   padding: 20px 20px 15px 18px;
}

.feature-item {
   width: 31.5%;
   background-color: #F8F8F8;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-top: 48px;
}

.feature-price {
   color: #F16D7F;
}

.center {
   display: flex;
   margin: 0 auto;
}

.button {
   display: inline-block;
   align-self: center;
   padding: 10px 20px;
   border: 1px solid #F16D7F;
   text-decoration: none;
   color: #F16D7F;
   background-color: #fff;
   margin-top: 40px;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: left;
   margin-bottom: 95px;
}

.advantages {
   background: #222222;
   display: flex;
   height: 341px;
}

.advantages-wrap {
   display: flex;
   align-items: center;
}

.advantage-item {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.adv-img {
   width: 45px;
}

.adv-heading{
   font-style: normal;
   font-weight: normal;
   font-size: 19.96px;
   line-height: 24px;
   color: #FBFBFB;
   margin-top: 16px;
   margin-bottom: 19px;
}

.adv-text {
   font-style: normal;
   font-weight: 300;
   font-size: 13.972px;
   line-height: 17px;
   text-align: center;
   color: #FBFBFB;
}

.feedback-wrap {
   background-size: cover;
   background-color: #F4F4F4B2;
   background-image: url(../img/feedback-back.svg);
   background-position: left bottom;
   background-repeat: no-repeat;
   min-height: 448px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.subscribe-left {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.subscribe-img {
   width: 150px;
}

.subscribe-text {
   margin-top: 30px;
   width: 320px;
   text-align: center;
}

.subscribe {
   display: flex;
}  

.subscribe-field {
   padding: 20px;
   width: 255px;
   border-radius: 27px 0 0 27px;
   background-color: #E1E1E1;
   border: none;
}

.subscribe-field::placeholder {
   font-size: 14px;
   line-height: 17px;
   display: flex;
   align-items: center;
   color: #222224;
   opacity: 0.67;
}

.subscribe-field:hover {
   background-color: #E9E9E9;
}

.subscribe-button {
   padding: 20px;
   border-radius: 0 27px 27px 0;
   border: none;
   background: #E05C6E;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #FFFFFF;
}

.subscribe-button:hover {
   background: #aa2b3c
}

.subscribe-right {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer {
   background: #222224;
   padding: 30px 0;
}

.footer-wrap {
   display: flex;
   justify-content: space-between;
}

.content {
   font-size: 16px;
   line-height: 19px;
   color: #FBFBFB;
}

.fab {
   font-size: 32px;
   margin: 0 7px;
}

.fa-instagram {
   background-color: #F16D7F;
   color: #F1E4E6;
}

.fa-instagram:hover {
   background: #FFFFFF;
}

