.product-banner {
   background: #F7F7F7;
   margin: 0 auto;
}

.product-image {
   height: 777px;
   background-image: url(../img/product-image.png);
   background-repeat: no-repeat;
   background-position: center;
}

.product-block {
   position: relative;
   display: flex;
   flex-direction: column;
}

.block-text {
   display: block;
   text-transform: uppercase;
   color: $main-color;
   font-family: 'Lato', sans-serif;
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
}

// .block-name {
//    position: relative;
//    display: flex;
//    flex-direction: column;
// }

.block-border {
   position: absolute;
   height: 3px;
   width: 63px;
   color: $main-color;
}

.block-heading {
   text-align: center;
   font-weight: 300;
   font-size: 18px;
   line-height: 22px;
   color: #4D4D4D;
}