.product-banner {
   background: #F7F7F7;
   margin: 0 auto;
}

.product-image {
   height: 777px;
   background-image: url(../img/product-image.png);
   background-repeat: no-repeat;
   background-position: center;
}

.product-block {
   // position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 65px 0;
}

.block-text {
   display: block;
   text-transform: uppercase;
   color: $main-color;
   font-family: 'Lato', sans-serif;
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   margin-bottom: 12px;
}

.hr1 {
   width: 63px;
   height: 3px;
}

.block-heading {
   text-align: center;
   font-weight: 300;
   font-size: 18px;
   line-height: 22px;
   color: #4D4D4D;
   margin-top: 12px;
}

.block-heading2 {
   width: 555px;
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   align-self: center;
   color: #5E5E5E;
   margin-top: 48px;
}

.block-price {
   font-weight: 300;
   font-size: 24px;
   line-height: 29px;
   color: #EF5B70;
   margin-top: 32px;
   margin-bottom: 65px;
}