.slider {
   background: #F7F7F7;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;

   &-btn {
      background-color: rgba(42, 42, 42, 0.15);
      color: #fff;
      padding: 12px;
      border: 1px solid #000;
      position: absolute;

         &:hover .arrow {
            fill: $main-color;
         }

   &-left {
      left: 5px;
   }

   &-right {
      right: 5px;
   }

   }
}

.slider-img {
   height: 777px;
   background-image: url(../img/product-image.png);
   background-repeat: no-repeat;
   background-position: center;
}

.product-block {
   // position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 65px 0;
}

.block-text {
   display: block;
   text-transform: uppercase;
   color: $main-color;
   font-family: 'Lato', sans-serif;
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   margin-bottom: 12px;
}

.hr1 {
   width: 63px;
   height: 3px;
}

.block-heading {
   text-align: center;
   font-weight: 300;
   font-size: 18px;
   line-height: 22px;
   color: #4D4D4D;
   margin-top: 12px;
}

.block-heading2 {
   width: 555px;
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   align-self: center;
   color: #5E5E5E;
   margin-top: 48px;
}

.block-price {
   font-weight: 300;
   font-size: 24px;
   line-height: 29px;
   color: #EF5B70;
   margin-top: 32px;
   margin-bottom: 65px;
}

.sort-box-product {
   margin: 65px auto 48px;
   display: flex;
}

.button-basket {
   display: flex;
   align-items: center;
   border: 1px solid $main-color;
   padding: 14px 24px;
}

.button-product {
   @include flex;
   text-decoration: none;
   color: $main-color;
   background-color: #fff;
   font-size: 16px;
   font-weight: 400;
   line-height: 19px;
   letter-spacing: 0em;
   padding-right: 24px;
}

.basket-product {
   margin-right: 23px;
}
